.physicalUnionApplication{
  width: 100%;
  /* padding: 0px 1% 0px 1%; */
  border: 1px solid #4D628F;
  background-color:#0A0B29;
}

.physicalUnionApplication-header{
  width: 100%;
  height: 18.5%;
  vertical-align: middle;
  background: #131F3B;
  background-image: url('@/assets/images/equip/card-header.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size:100% 100%;

}
.physicalUnionApplication-title{
  width: 35%;
  height: 100%;
  font-size: 15px;
  white-space: nowrap;
  overflow-x:scroll;
  overflow-y: hidden;
  font-family: PingFang SC;
  font-weight: 400;
 line-height: 225%;
  color: #FFFFFF;
  padding: 0% 5% 0% 3%;
  display: inline-block;
  float: left;
}
::-webkit-scrollbar{
  display: none;
}
.physicalUnionApplication-state{
  width: 55%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  float: left;
  line-height: 300%;
}
.physicalUnionApplication-state-box{
  vertical-align: middle;
  float: right;
  padding-top: 3%;
}
.physicalUnionApplication-hidden-trouble{
  width: 11%;
  height: 70%;
  /* background-color: red; */
  display: inline-block;
  font-size: 10px;
  font-family: PingFang SC;
  font-weight: 400;
  float: right;
  color: #FFEAEE;
  padding: 4.5% 1% 0.5% 2%;
  margin-left: 7%;
  border-radius: 5px
}
/* .physicalUnionApplication-hidden-trouble-icon{
  position: absolute;
  top: 9.5%;
} */
.physicalUnionApplication-content{
  width: 100%;
  display: inline-block;
  background-image: url('@/assets/images/equip/camera-bg-img.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size:160px 110px;
}
.physicalUnionApplication-content-img{
  width: 40%;
  position: relative;
}
.physicalUnionApplication-content-row{
  height: 16.5%;
  width: 97%;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  align-items: center;
}
.physicalUnionApplication-content-row-name{
  width:19.5%;
  text-align: right;
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #6F85A2;
}
.physicalUnionApplication-content-row-value{
  width: 60%;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #B9CEE9;
  padding-left: 5%;
}
.physicalUnionApplication-hidden-trouble-icon{
  width: 18px;
  height: 19px;
}
.address-font{
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 400;
  text-decoration: underline;
  color: #06F0FE;
  position: relative;
  top: -4px;
}
.address-icon{
  width: 11px;
  height: 16px;
  position: relative;
  top: 3px;
  left: 10px;
}
.camera-bg-img{
  width: 100%;
  height: 100%;
  z-index: -1;
}
.van-badge{
  border: none
}
.van-badge--fixed{
  top: 4px
}