.events-content{
  position : relative;
  width: 100%;
  display: inline-block;
}
.inside-content{
  position : absolute;
  top : 0;
  left : 0;
  right : 0;
  bottom : 0;
}
.title>img{
  width: 12px;
  height: auto;
}
.systemOption{
  color: #A3D5FF;
}
.analysisTimeline{
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
.eventCounting{
  color: rgba(254, 255, 255, 1);
  font-size: 10px;
  margin-left: 30px;
}
.eventCounting{
  position: relative;
}
.eventCounting::after{
  position: absolute;
  content: '';
  width: 7px;
  height: 1px;
  top: 7px;
  left: -14px;
  background: rgba(40, 255, 187, 1);
}
.errorCounting::after{
  background: rgba(24, 186, 250, 1);
}
/* 标题  start*/
.title-box{
  width: 100%;
  height: 20px;
  position : relative;
  padding-bottom : 5.57%;
  margin-top: 8%;
  margin-bottom: 2%;
}
.title-style{
  width: 1.2%;
  height: 100%;
  background:-webkit-gradient(linear, 100% 100%, 0% 100%,from(#008EFF), to(#1DF2FF));
  display: inline-block;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.title-name{
  width: 100%;
  height: 100%;
  display: inline-block;
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #B9CEE9;
  position: absolute;
  top: 2px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
/* end */
/* 下拉框样式开始 */
.system-select{
  position: absolute;
  color: rgba(185, 206, 233, 1);  
  font-size: 20px;
  border: none;
  background: none;
  top: 2px;
}
.system-select.system-select-date{
  color: rgba(139, 163, 194, 1);
  font-size: 15px;
}
/* end */

.item-right{
  width: 100%;
  height: auto;
}
.detail-item{
  width: 31.33%;
  height: auto;
  display: inline-block;
}
.detail-item-title{
  height: 11px;
  width: 50px;
  font-size: 12px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  text-align: left;
  line-height: 5px;
  padding-left: 12px;
  color: #EFF0F1;
  margin-bottom: 0px;
  background: linear-gradient(125deg, rgba(16, 233, 255, 0) 8px,#00B5ED 9%,transparent 81%) left  ;
  background-size: 100% 100%;
  margin-left: 15px
}
.detail-item-value{
  height: 18px;
  font-size: 19px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #46FFEB;
  margin-left: 26%;
  margin-top: 8%;
}
.color-light-blue{
  color: #46FFEB;
}
.color-light-yellow{
  color: #F7FF74;
}
.color-light-red{
  color:#FF3C3C;
}
.bg{
  width: 79px;
  height: 9px;

}