.video-view{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 23, 32, 1);
  color: #fff;
  min-height: 100%;
}
.video-content{
  position: fixed;
  width: 92%;

  height: 90%;
  overflow: scroll;
  padding: 0 4%;
}