.video-view{
  /* position: fixed; */
  width: 100%;
  height: calc(100% - 65px);
  background-color: rgba(16, 23, 32, 1);
  color: #fff;
  /* min-height: calc(100% - 45px); */
  padding-bottom: 20px;
}
.video-content{
  /* position: fixed; */
  width: 92%;
  height: calc(100% - 60px);
  overflow: scroll;
  padding: 0 4%;
}
.emptyImg{
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #6F85A2;
}
.emptyImg img{
  width: 90px;
  height: auto;
  margin: 40% auto 0;
}
.emptyImg p{
  margin-top: 26px;
}