.login-box{
  background-color: #101720;
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url('@/assets/images/login/bg.png')
 }
 .logo-box{
   width: 40%;
   margin: 16% auto;
 }
 .title{
   font-size: 21px;
   color: #FFFFFF;
   text-align: center;
   margin-bottom: 16px;
 }
 .form-box{
   color: #fff;
   padding-left: 6px;
   padding-top: 18%;
 }
 .form-content{
   display: flex;
   border-bottom: 1px #283444 solid;
 }
 .send-code {
   color: #06F0FE;
   background-color: transparent;
   border: none;
   height: 20px;
 }
 .login-button-box{
   width: 80%;
   height: 40px;
   margin: 0 auto;
   padding-top: 14%;
 }
 .login-button{
   width: 100%;
   height: 100%;
   border-radius: 0
 }