.hazard{
  /* position: fixed; */
  width: 100%;
  height: calc(100% - 45px);
  background-color: #101720;
}
.hazard-content{
  /* position: fixed; */
  padding: 0px 4%;
  width: 92%;
  height: 90%;
  overflow: scroll;
}
.hazard-list-card{
  margin-top: 3%;
}

.hazard-input{
  width: 90%;
  display: inline-block;
}
.hazard-button{
  width: 5%;
  display: inline-block;
}
.hazard-icon{
  width: 20px;
  height: 20px;
}
